<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
    <!----{%for b in data%}

    <div>
      <p>Title : {{b.title}}</p>
      <p>Author: {{b.author}}</p>
      <p>Price : {{b.price}}</p>
      <p>Genre: {{b.genre}}</p>
      <p>Year : {{b.year}}</p>

      <a href="{%url 'book-detail' b.id%}">View</a>
      <a href="{%url 'book-delete' b.id%}">Delete</a>
      <a href="{%url 'book-update' b.id%}">Update</a>

      <hr />
    </div>

    {%endfor%}-->

    <div class="container">
      <div class="row my-3">
        <div class="col-4"></div>
        <div class="col-4">
          <form action="">
            <input type="text" name="search" />
            <button type="submit">Search</button>
          </form>
        </div>
        <div class="col-4"></div>
      </div>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <table class="table table-striped">
            <tr>
              <th>Title</th>
              <th>Author</th>
              <th>Price</th>
              <th>Image</th>
              <th>Action</th>
            </tr>
            {%for b in data%}

            <tr>
              <td>{{b.title}}</td>
              <td>{{b.author}}</td>
              <td>{{b.price}}</td>
              <td>
                {%if b.image%}
                <img src="{{b.image.url}}" alt="" class="w-25" height="50px" />

                {%endif%}
              </td>
              <td>
                <a href="{%url 'book-detail' b.id%}"
                  ><i class="bi bi-eye"></i
                ></a>
                <a href="{%url 'book-delete' b.id%}"
                  ><i class="bi bi-trash"></i
                ></a>
                <a href="{%url 'book-update' b.id%}"
                  ><i class="bi bi-pencil"></i
                ></a>
              </td>
            </tr>

            {%endfor%}
          </table>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
  </body>
</html>
