

.border{

    border: 1px solid black;
}

.parent{

    background-color: green;
    width: 75%;
    height: 400px;
}

.child{
    background-color: purple;
    width: 50%;
    height: 200px;
}

/* absolute => px */
/* relative % */