

.parent{

    width: 50%;
    height: 350px;
    background-color: aqua;
    border:1px solid black;
    position: absolute;

  
}

.child{
    width: 200px;
    height: 200px;
    background-color: rgb(5, 91, 91);
    border:1px solid black;
    position: relative;
    left: 100%;

}


.fixed{
    position: fixed;
    top: 50px;
    left: 90%;
    width: 100px;
    height: 100px;
    background-color: rgb(5, 48, 91);

}

/* position:relative,absolute,fixed */
/* left,top,right,bottom */
