{%extends 'base.html'%} {%load static%} {%block main_block%}
<div class="container">
  <h1 class="text-center mb-5">Calorie Calculator</h1>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <form action="#" method="post" class="p-3 border bg-light">
        {%csrf_token%} {{form}}
        <input type="submit" value="Submit" class="btn btn-primary" />
      </form>
    </div>
    <div class="col-4"></div>
  </div>
</div>

<div class="container mt-5">
  <div class="row border bg-light">
    <div class="col-4"></div>
    <div class="col-4">
      BMR = {{BMR}} <br />
      CALORIE = {{CALORIE}}
    </div>
    <div class="col-4"></div>
  </div>
</div>

<img src="{%static '/images/calculator.png'%}"

{%endblock%}
